site_name: "Fallout: Houston"
site_url: "https://fallouthouston.com"
site_author: Andrew P. Sansom
site_description: "A Fallout Tabletop RPG campaign set in Houston, Texas."

repo_url: https://github.com/qthequartermasterman/fallout-houston-campaign
edit_uri: edit/main/docs/

nav:
  - Home: index.md
  - The Gulf Coast Wasteland:
      - "Geography":
          - 'Background/geography/map.md'
          - 'Background/geography/neighborhoods.md'
          - 'Background/geography/vaults.md'
          - 'Background/geography/roads.md'
          - 'Background/geography/nuclear_targets.md'
          - 'Background/geography/misc.md'
      - "Pre-war Companies": Background/companies.md
      - "Sim Settlements 2 Elements": Background/sim-settlements-elements.md
      - 'Background/theming_music.md'
      - "Background Events": Background/background.md
  - Denizens of the Wasteland:
      - "Animals & Insects": denizens_of_the_wasteland/fauna.md
      - "Plants": denizens_of_the_wasteland/flora.md
      - "Factions":
          - 'denizens_of_the_wasteland/factions/index.md'
          - 'denizens_of_the_wasteland/factions/bayoubrotherhood.md'
          - 'denizens_of_the_wasteland/factions/thegalvestonpirates.md'
          - 'denizens_of_the_wasteland/factions/lonestarrepublic.md'
          - 'denizens_of_the_wasteland/factions/oilbarons.md'
          - 'denizens_of_the_wasteland/factions/spaceportsurvivors.md'
  - "Story":
      - "Outline": Story/outline.md
      - "Prologue":
        - 'Story/prologue.md'
      - "Intro Narration": Story/intro-narration.md
      - "Act I: Rising Tensions":
        - 'Story/Act1/index.md'
        - 'Story/Act1/Quest1.md'
        - 'Story/Act1/Quest2.md'
        - 'Story/Act1/Quest3.md'
        - 'Story/Act1/Quest4.md'
        - 'Story/Act1/Quest5.md'
        - 'Story/Act1/Quest6.md'
      - "Act II: The Faction Game":
          - 'Story/Act2/index.md'
      - "Act III: The Battle for the Spaceport":
          - 'Story/Act3/index.md'
      - "Post Game Campaigns":
          - 'Story/DLC/TheCorpse.md'
          - 'Story/DLC/elpaso.md'

  - About:
      - License: about/license.md

extra_css:
  - Assets/stylesheets/statblocks.css
  - Assets/stylesheets/maps.css

theme:
  name: material
  features:
    - content.action.edit
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.expand
    - navigation.prune
    - navigation.indexes
    - navigation.top
    - search.suggest
  icon:
    repo: fontawesome/brands/github
    edit: material/pencil
    view: material/eye
  palette:

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      primary: black
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      primary: black
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

markdown_extensions:
  - toc:
      permalink: true
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

plugins:
  - include-markdown
  - macros:
      include_yaml:
        - docs/denizens_of_the_wasteland/characters/bayoubrotherhood.yaml
        - docs/denizens_of_the_wasteland/creatures/corerulebook.yaml
        - docs/denizens_of_the_wasteland/creatures/new_creatures.yaml
      modules: [render_blocks]
  - search

hooks:
  - render_map/render_map.py

extra:
  GOOGLE_MAPS_API_KEY: !ENV GOOGLE_MAPS_API_KEY
  global_map:
    center: [29.7604, -95.3698]
    zoom: 9